



$DT_COLOR_1: #334563 !default;
$DT_COLOR_2: #fff !default;
$DT_COLOR_3: #8c97b2 !default;
$DT_COLOR_4: #2c4a67 !default;
$DT_COLOR_5: rgba(2,3,3,.14) !default;
$DT_COLOR_6: rgba(0,0,0,.09) !default;
$DT_COLOR_7: #bfc5d1 !default;
$DT_COLOR_8: #d1d6ec !default; /* todo: consider to remove */
$DT_COLOR_9: #edf1f5 !default;
$DT_COLOR_10: #29a9ed !default;
$DT_COLOR_11: #aab4de !default;
$DT_COLOR_12: #858eb3 !default;
$DT_COLOR_13: #dd594f !default;
$DT_COLOR_14: #f4f4f5 !default;
$DT_COLOR_15: #abb5dd !default;
$DT_COLOR_16: #819ba1 !default;
$DT_COLOR_17: #1b96d7 !default;
$DT_COLOR_18: #0dacea !default;
$DT_COLOR_19: #080 !default;
$DT_COLOR_20: #a1d490 !default;
$DT_COLOR_21: #ced1d4 !default;



$DT_FONT_1: 'OpenSansRegular' !default;
$DT_FONT_2: 'Open Sans' !default;


/// layout

$LAYOUT_BORDER_PADDING: 15px;
$DEFAULT_FONT: $DT_FONT_1;
$HEADER_BACKGROUND_COLOR:$DT_COLOR_1;
$HEADER_POWERED_BY_TEXT_COLOR: $DT_COLOR_7;
$HEADER_POWERED_BY_FONT_FAMILY: $DT_FONT_2;
$FOOTER_BACKGROUND:$DT_COLOR_1;
$FOOTER_TEXT_COLOR:$DT_COLOR_2;

$BASE_LAYOUT_HEADER_HEIGHT:83px;
$BASE_LAYOUT_FOOTER_HEIGHT:$BASE_LAYOUT_HEADER_HEIGHT/2;

// deploy layout
$DEPLOY_LAYOUT_BOTTOM_SHADOW: $DT_COLOR_5;
$DEPLOY_LAYOUT_SECTION_BORDER_COLOR: $DT_COLOR_8;
$DEPLOY_LAYOUT_BODY_BACKGROUND: $DT_COLOR_9;
$DEPLOY_LAYOUT_LEFT_SIDE_MENU_BACKGROUND_COLOR:$DT_COLOR_2;

// panels
$PANEL_BACKGROUND_COLOR:$DT_COLOR_2;
$PANEL_BORDER_COLOR:$DT_COLOR_6;

// forms
$FIELD_LABEL_TEXT_COLOR:$DT_COLOR_3;
$FIELD_LABEL_TEXT_SIZE: 14px;
$FIELD_INPUT_BORDER: $DT_COLOR_8;
$FIELD_INPUT_BACKGROUND: $DT_COLOR_2;
$INPUT_TEXT_COLOR:$DT_COLOR_4; /* use in selected value for dropbox, input fields etc.. */

$SELECT_ARROW_COLOR:$DT_COLOR_10;

// action buttons

$ACTION_BTN_BACKGROUND: $DT_COLOR_10;
$ACTION_BTN_TEXT_COLOR: $DT_COLOR_2;
$ACTION_BTN_ACTIVE_BACKGROUND: $DT_COLOR_17;

// instruction buttons
$INSTRUCTION_BTN_BORDER_COLOR: $DT_COLOR_11;
$INSTRUCTION_BTN_BACKGROUND_COLOR:$DT_COLOR_2;
$INSTRUCTION_BTN_TEXT_COLOR:$DT_COLOR_12;
$INSTRUCTION_BTN_FONT_FAMILY: $DT_FONT_2;
$INSTRUCTION_BTN_RED_ICON_COLOR: $DT_COLOR_13;
$INSTRUCTION_BTN_HOVER_BACKGROUND_COLOR: $DT_COLOR_11;


$CHECKBOX_BTN_BORDER_COLOR: $DT_COLOR_11;
$CHECKBOX_BTN_BACKGROUND_COLOR:$DT_COLOR_2;
$CHECKBOX_BTN_TEXT_COLOR:$DT_COLOR_12;
$CHECKBOX_BTN_FONT_FAMILY: $DT_FONT_2;
$CHECKBOX_BTN_RED_ICON_COLOR: $DT_COLOR_13;
$CHECKBOX_BTN_HOVER_BACKGROUND_COLOR: $DT_COLOR_14;
$CHECKBOX_BTN_GREEN_ICON_COLOR: $DT_COLOR_19;
$CHECKBOX_BTN_RED_ICON_COLOR: $DT_COLOR_13;
$CHECKBOX_BTN_HOVER_BACKGROUND_COLOR: $DT_COLOR_11;


$EMPHASIZED_LABEL_TEXT_COLOR:$DT_COLOR_1;




// components


// deploy steps
$DEPLOY_STEPS_PICKED_TEXT_COLOR:$DT_COLOR_18;
$DEPLOY_STEPS_IDLE_TEXT_COLOR:$DT_COLOR_3;
$DEPLOY_STEPS_IDLE_BORDER_COLOR:$DT_COLOR_3;
$DEPLOY_STEP_PROVIDER_MAME_COLOR:$DT_COLOR_18;



$UI_DEBUG_BG_COLOR:$DT_COLOR_20;
$UI_DEBUG_CHKBOX_COLOR:$DT_COLOR_19;

