<div class="node-templates-step">

    <div ng-show="false" class="dt-form-row">
        <div class="dt-uidebugbg" ng-show="datacentred_node_template_ui_debug_enabled">Data : {{data}}</div>
    </div>

    <div class="dt-form">
		<div class="dt-form-row">
			<div class="dt-form-section login-details-section">
				<!-- <div class="dt-label dt-panelname">{{ currentProvider.label }} Node Template</div> --> <!-- todo: use i18n -->
				<div class="dt-label dt-panelname">Deploy Your Own XAP in One Click</div> <!-- todo: use i18n -->
			</div>
		</div>

        <div ng-show="false" class="dt-form-row">
            <div ng-disabled="uploadBlueprintsOnly()" class="dt-form-section login-details-section">
                <div class="dt-label">Upload the blueprint &nbsp;
                    <button ng-disabled="uploadBlueprintsOnly()" ng-show="need2UploadBlueprint()" class="dt-checkbox-btn enabled-icon" ng-click="toggleUploadBlueprint()" ng-model="data.uploadtheblueprint">
                        <i class="fa fa-toggle-on"/>Yes
                    </button>
                    <button ng-disabled="uploadBlueprintsOnly()" ng-show="!need2UploadBlueprint()" class="dt-checkbox-btn disabled-icon" ng-click="toggleUploadBlueprint()" ng-model="data.uploadtheblueprint">
                        <i class="fa fa-toggle-off"/>&nbsp;No
                    </button>
                </div>
            </div>
            <div ng-show="!uploadBlueprintsOnly() && !isApplicationEmpty()" class="dt-form-section login-details-section">
                <div class="dt-label">Deploy the application &nbsp;
                    <button ng-show="need2DeployApplication() && !isApplicationEmpty()" class="dt-checkbox-btn enabled-icon" ng-click="toggleDeployApplication()">
                        <i class="fa fa-toggle-on"/>Yes
                    </button>
                    <button ng-show="!need2DeployApplication() && !isApplicationEmpty()" class="dt-checkbox-btn disabled-icon" ng-click="toggleDeployApplication()">
                        <i class="fa fa-toggle-off"/>&nbsp;No
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="false && need2UploadBlueprint()" class="dt-form-row">
            <div class="dt-form-section login-details-section">
                <div ng-show="need2UploadBlueprint()" title="e.g.: https://www.mySite.com/pre_blueprint_upload_script.sh&#010-Use this with caution !!!" class="dt-label">Pre blueprint upload</div> <!-- todo: use i18n -->
                <div ng-show="need2UploadBlueprint()" title="e.g.: https://www.mySite.com/pre_blueprint_upload_script.sh&#010-Use this with caution !!!" class="dt-longinput"><input ng-model="data.preblueprintuploadscript"/></div>
            </div>
        </div>


        <div ng-show="false && !uploadBlueprintsOnly() && (need2DeployApplication() || isApplicationEmpty())" class="dt-form-row">
            <div class="dt-form-section login-details-section">
                <div title="e.g.: https://www.mySite.com/pre_deployment_creation_script.sh&#010-Use this with caution !!!" class="dt-label">Pre deployment creation</div> <!-- todo: use i18n -->
                <div title="e.g.: https://www.mySite.com/pre_deployment_creation_script.sh&#010-Use this with caution !!!" class="dt-longinput"><input ng-model="data.predeploymentcreationscript"/></div>
            </div>
            <div class="dt-form-section login-details-section">
                <div title="e.g.: https://www.mySite.com/pre_install_script.sh&#010-Use this with caution !!!" class="dt-label">Pre installation</div> <!-- todo: use i18n -->
                <div title="e.g.: https://www.mySite.com/pre_install_script.sh&#010-Use this with caution !!!" class="dt-longinput"><input ng-model="data.preinstallscript"/></div>
            </div>
        </div>

        <div ng-show="!uploadBlueprintsOnly() && (need2DeployApplication() || isApplicationEmpty())" class="dt-form-row">
            <div class="dt-form-section login-details-section">
                <div class="dt-label">XAP Version + (_Deployment ID)</div> <!-- todo: use i18n -->
                <div class="dt-extralonginput"><input ng-disabled="true" ng-init="data.deploymentName = 'xap11_0_0'+currentVersion" ng-model="data.deploymentName"/></div>
            </div>
            <div ng-show="false" class="dt-form-section login-details-section">
                <div title="e.g.: https://www.mySite.com/post_install_script.sh&#010-Use this with caution !!!" class="dt-label">Post installation</div> <!-- todo: use i18n -->
                <div title="e.g.: https://www.mySite.com/post_install_script.sh&#010-Use this with caution !!!" class="dt-longinput"><input ng-model="data.postinstallscript"/></div>
            </div>
        </div>

	</div>

    <div ng-show="false && !uploadBlueprintsOnly() && need2DeployApplication()" class="dt-form-row">
        <div class="dt-form-section login-details-section">
            <div class="dt-label dt-debug-chkbox">* Enable UI debugging <input type="checkbox" ng-model="datacentred_node_template_ui_debug_enabled"/></div>
        </div>
    </div>

    <div ng-show="false && !uploadBlueprintsOnly() && (need2DeployApplication() || isApplicationEmpty())" class="dt-form-row">
        <div class="dt-form-section login-details-section">
            <div class="dt-label dt-debug-chkbox">* Enable Node templates UI debugging <input type="checkbox" ng-model="datacentred_node_templates_ui_debug_enabled"/></div>
        </div>
    </div>

    <div ng-show="!uploadBlueprintsOnly() && need2DeployApplication()" id="nodeTemplates">
        <table>
            <tr>
                <td>
                    <div id="nodeTemplateElem1" class="dt-form">
                        <div class="dt-form-row">
                            <div class="dt-form-section login-details-section">
                                <div class="dt-label">XAP Management VM Name</div> <!-- todo: use i18n -->
                                <div class="dt-input"><input ng-disabled="true" ng-init="nodeTemplate1.name = 'xap_management_vm'" ng-model="nodeTemplate1.name"/></div>
                            </div>
                            <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                                <div class="dt-label">SSH User Name</div> <!-- todo: use i18n -->
                                <div class="dt-input"><input ng-init="nodeTemplate1.agentshuser = 'ubuntu'" ng-model="nodeTemplate1.agentshuser"/></div>
                            </div>

                        </div>

                        <div class="dt-form-row">
                            <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                                <div class="dt-label">XAP Management VM's Oprerating System</div> <!-- todo: use i18n -->
                                <div class="dt-extralonginput"><select ng-init="nodeTemplate1.datacentredos = datacentredoss[11].id" ng-options="datacentredos.id as datacentredos.label for datacentredos in datacentredoss" ng-model="nodeTemplate1.datacentredos"></select></div>
                            </div>
                        </div>

                        <div class="dt-form-row">
                            <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                                <div class="dt-label">XAP Management VM's Flavor</div> <!-- todo: use i18n -->
                                <div class="dt-extralonginput"><select ng-init="nodeTemplate1.datacentredflavor = datacentredflavors[7].id" ng-options="datacentredflavor.id as datacentredflavor.label for datacentredflavor in datacentredflavors" ng-model="nodeTemplate1.datacentredflavor"></select></div>
                            </div>
                        </div>


                    </div>
                </td>

                <td>
                    <div id="nodeTemplateElem2" class="dt-form">
                        <div class="dt-form-row">
                            <div class="dt-form-section login-details-section">
                                <div class="dt-label">XAP Container VM Name</div> <!-- todo: use i18n -->
                                <div class="dt-input"><input ng-disabled="true" ng-init="nodeTemplate2.name = 'xap_container_vm'" ng-model="nodeTemplate2.name"/></div>
                            </div>
                            <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                                <div class="dt-label">SSH User Name</div> <!-- todo: use i18n -->
                                <div class="dt-input"><input ng-init="nodeTemplate2.agentshuser = 'ubuntu'" ng-model="nodeTemplate2.agentshuser"/></div>
                            </div>

                        </div>

                        <div class="dt-form-row">
                            <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                                <div class="dt-label">XAP Container VM's Oprerating System</div> <!-- todo: use i18n -->
                                <div class="dt-extralonginput"><select ng-init="nodeTemplate2.datacentredos = datacentredoss[11].id" ng-options="datacentredos.id as datacentredos.label for datacentredos in datacentredoss" ng-model="nodeTemplate2.datacentredos"></select></div>
                            </div>
                        </div>

                        <div class="dt-form-row">
                            <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                                <div class="dt-label">XAP Container VM's Flavor</div> <!-- todo: use i18n -->
                                <div class="dt-extralonginput"><select ng-init="nodeTemplate2.datacentredflavor = datacentredflavors[7].id" ng-options="datacentredflavor.id as datacentredflavor.label for datacentredflavor in datacentredflavors" ng-model="nodeTemplate2.datacentredflavor"></select></div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="false && !uploadBlueprintsOnly() && need2DeployApplication()" id="origlist__nodeTemplates">

        <div id="nodeTemplateElem11" class="dt-form">
            <div class="dt-form-row">
                <div class="dt-form-section login-details-section">
                    <div class="dt-label">XAP Management VM Name</div> <!-- todo: use i18n -->
                    <div class="dt-input"><input ng-disabled="true" ng-init="nodeTemplate11.name = 'xap_management_vm'" ng-model="nodeTemplate11.name"/></div>
                </div>
                <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                    <div class="dt-label">SSH User Name</div> <!-- todo: use i18n -->
                    <div class="dt-input"><input ng-init="nodeTemplate11.agentshuser = 'ubuntu'" ng-model="nodeTemplate11.agentshuser"/></div>
                </div>

            </div>

            <div class="dt-form-row">
                <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                    <div class="dt-label">XAP Management VM's Oprerating System</div> <!-- todo: use i18n -->
                    <div class="dt-extralonginput"><select ng-init="nodeTemplate11.datacentredos = datacentredoss[11].id" ng-options="datacentredos.id as datacentredos.label for datacentredos in datacentredoss" ng-model="nodeTemplate11.datacentredos"></select></div>
                </div>
            </div>

            <div class="dt-form-row">
                <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                    <div class="dt-label">XAP Management VM's Flavor</div> <!-- todo: use i18n -->
                    <div class="dt-extralonginput"><select ng-init="nodeTemplate11.datacentredflavor = datacentredflavors[7].id" ng-options="datacentredflavor.id as datacentredflavor.label for datacentredflavor in datacentredflavors" ng-model="nodeTemplate11.datacentredflavor"></select></div>
                </div>
            </div>


        </div>

        <hr/>

        <div id="nodeTemplateElem22" class="dt-form">
            <div class="dt-form-row">
                <div class="dt-form-section login-details-section">
                    <div class="dt-label">XAP Container VM Name</div> <!-- todo: use i18n -->
                    <div class="dt-input"><input ng-disabled="true" ng-init="nodeTemplate22.name = 'xap_container_vm'" ng-model="nodeTemplate22.name"/></div>
                </div>
                <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                    <div class="dt-label">SSH User Name</div> <!-- todo: use i18n -->
                    <div class="dt-input"><input ng-init="nodeTemplate22.agentshuser = 'ubuntu'" ng-model="nodeTemplate22.agentshuser"/></div>
                </div>

            </div>

            <div class="dt-form-row">
                <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                    <div class="dt-label">XAP Container VM's Oprerating System</div> <!-- todo: use i18n -->
                    <div class="dt-extralonginput"><select ng-init="nodeTemplate22.datacentredos = datacentredoss[11].id" ng-options="datacentredos.id as datacentredos.label for datacentredos in datacentredoss" ng-model="nodeTemplate22.datacentredos"></select></div>
                </div>
            </div>

            <div class="dt-form-row">
                <div ng-show="!need2UseExistingManager() && isComputeNode(1)" class="dt-form-section login-details-section">
                    <div class="dt-label">XAP Container VM's Flavor</div> <!-- todo: use i18n -->
                    <div class="dt-extralonginput"><select ng-init="nodeTemplate22.datacentredflavor = datacentredflavors[7].id" ng-options="datacentredflavor.id as datacentredflavor.label for datacentredflavor in datacentredflavors" ng-model="nodeTemplate22.datacentredflavor"></select></div>
                </div>
            </div>

        </div>

    </div>

    <!-- Remove later.... xxx -->

    <div ng-show="false && !uploadBlueprintsOnly() && need2DeployApplication()" id="orig_nodeTemplateElem1" class="dt-form" ng-repeat="orig_nodeTemplate in orig_nodeTemplates">

        <div class="dt-uidebugbg" ng-show="datacentred_node_templates_ui_debug_enabled">{{orig_nodeTemplates}}</div>

		<div class="dt-form-row">
			<div class="dt-form-section login-details-section">
				<div class="dt-label">Node Template Name #{{$index+1}}</div> <!-- todo: use i18n -->
				<!-- <div class="dt-input"><input ng-model="data.rawNodeTemplates[$index+1].name"/></div> -->
				<div class="dt-input"><input ng-model="orig_nodeTemplate.name"/></div>
			</div>

            <div class="dt-form-section login-details-section">
                <div class="dt-emphasized-label">Compute Node? &nbsp;
                    <button ng-show="isComputeNode($index)" class="dt-checkbox-btn enabled-icon" ng-click="toggleIsComputeNode($index)">
                        <i class="fa fa-toggle-on"/>Yes
                    </button>
                    <button ng-show="!isComputeNode($index)" class="dt-checkbox-btn disabled-icon" ng-click="toggleIsComputeNode($index)">
                        <i class="fa fa-toggle-off"/>&nbsp;No
                    </button>
                </div>
            </div>

        </div>

        <div class="dt-form-row">
            <div ng-show="!need2UseExistingManager() && isComputeNode($index)" class="dt-form-section login-details-section">
                <div class="dt-label">Oprerating System</div> <!-- todo: use i18n -->
                <div class="dt-extralonginput"><select ng-options="datacentredos.id as datacentredos.label for datacentredos in datacentredoss" ng-model="orig_nodeTemplate.datacentredos"></select></div>
            </div>
        </div>

        <div class="dt-form-row">
            <div ng-show="!need2UseExistingManager() && isComputeNode($index)" class="dt-form-section login-details-section">
                <div class="dt-label">Flavor</div> <!-- todo: use i18n -->
                <div class="dt-extralonginput"><select ng-options="datacentredflavor.id as datacentredflavor.label for datacentredflavor in datacentredflavors" ng-model="orig_nodeTemplate.datacentredflavor"></select></div>
            </div>

            <div ng-show="!need2UseExistingManager() && isComputeNode($index)" class="dt-form-section login-details-section">
                <div class="dt-label">Agents SSH User Name</div> <!-- todo: use i18n -->
                <div class="dt-input"><input ng-model="orig_nodeTemplate.agentshuser"/></div>
            </div>
        </div>
        <div class="dt-form-row">
            <div ng-show="!need2UseExistingManager()" class="dt-form-section login-details-section">
                <div title="e.g.: input1=4,another_input=James&#xD; - These inputs will be added as inputs to this node template with their values from this field" class="dt-label">Inputs (commma separated)</div> <!-- todo: use i18n -->
                <div title="e.g.: input1=4,another_input=James&#xD; - These inputs will be added as inputs to this node template with their values from this field" class="dt-longinput"><input ng-model="orig_nodeTemplate.moreprops"/></div>
            </div>

            <div class="dt-form-section login-details-section">
                <div ng-show="canApplyToAll()" class="dt-emphasized-label">Apply these settings to all node templates &nbsp;
                    <button ng-show="apply2AllIsEnabled()" class="dt-checkbox-btn enabled-icon" ng-click="toggleApply2All()" ng-model="data.apply2AllNodeTemplates">
                        <i class="fa fa-toggle-on"/>Yes
                    </button>
                    <button ng-show="!apply2AllIsEnabled()" class="dt-checkbox-btn disabled-icon" ng-click="toggleApply2All()" ng-model="data.apply2AllNodeTemplates">
                        <i class="fa fa-toggle-off"/>&nbsp;No
                    </button>
                </div>
            </div>
        </div>
        <div class="dt-form-row">
            <div class="dt-form-section login-details-section">
                <button ng-show="!apply2AllIsEnabled()" class="dt-instruction-btn" ng-click="addNodeTemplate()">+ Add node template</button>
            </div>
            <div class="dt-form-section">
                <button ng-show="canRemoveNodeTemplate()" class="dt-instruction-btn" ng-click="removeNodeTemplate($index)">- Remove this node template</button>
            </div>
        </div>
	</div>


    <div ng-show="false && !uploadBlueprintsOnly() && need2DeployApplication()" class="dt-form-row">
        <div class="dt-form-section login-details-section">
            <div class="dt-label dt-debug-chkbox">* Enable Node templates UI debugging <input type="checkbox" ng-model="datacentred_node_templates_ui_debug_enabled"/></div>
        </div>
    </div>

    <div ng-show="true" class="dt-form-row">
        <div class="dt-form-section login-details-section">
            <div class="dt-label dt-debug-chkbox">* Enable UI debugging <input type="checkbox" ng-model="datacentred_node_template_ui_debug_enabled"/></div>
        </div>
    </div>

    <div ng-show="true" class="dt-form-row">
        <div class="dt-uidebugbg" ng-show="datacentred_node_template_ui_debug_enabled">Data : {{data}}</div>
    </div>
</div>
